<?xml version="1.0"?>
<config>
    <modules>
        <OpsWay_Debug>
            <version>0.0.1</version>
        </OpsWay_Debug>
    </modules>
    <global>
        <models>
            <opsway_debug>
                <class>OpsWay_Debug_Model</class>
            </opsway_debug>
        </models>
        <helpers>
            <opsway_debug>
                <class>OpsWay_Debug_Helper</class>
            </opsway_debug>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <opsway_debug before="Mage_Adminhtml">OpsWay_Debug</opsway_debug>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <update>
                <use>standard</use>
                <args>
                    <module>OpsWay_Debug</module>
                    <frontName>debug_log</frontName>
                </args>
            </update>
        </routers>
        <events>
            <model_load_after>
                <observers>
                    <debug_model_load_after>
                        <type>singleton</type>
                        <class>opsway_debug/observer</class>
                        <method>modelLoadAfter</method>
                    </debug_model_load_after>
                </observers>
            </model_load_after>
            <core_collection_abstract_load_after>
                <observers>
                    <debug_core_collection_abstract_load_after>
                        <type>singleton</type>
                        <class>opsway_debug/observer</class>
                        <method>collectionLoadAfter</method>
                    </debug_core_collection_abstract_load_after>
                </observers>
            </core_collection_abstract_load_after>
            <catalog_product_collection_load_after>
                <observers>
                    <debug_catalog_product_collection_load_after>
                        <type>singleton</type>
                        <class>opsway_debug/observer</class>
                        <method>collectionLoadAfter</method>
                    </debug_catalog_product_collection_load_after>
                </observers>
            </catalog_product_collection_load_after>
            <catalog_category_collection_load_after>
                <observers>
                    <debug_catalog_category_collection_load_after>
                        <type>singleton</type>
                        <class>opsway_debug/observer</class>
                        <method>collectionLoadAfter</method>
                    </debug_catalog_category_collection_load_after>
                </observers>
            </catalog_category_collection_load_after>
            <!--core_block_abstract_to_html_before> need implement
                <observers>
                    <check_block_exception>
                        <class>opsway_debug/observer</class>
                        <method>checkBlockExceptionBeforeRender</method>
                    </check_block_exception>
                </observers>
            </core_block_abstract_to_html_before-->
            <controller_front_send_response_after>
                <observers>
                    <end_magento_processing>
                        <type>singleton</type>
                        <class>opsway_debug/observer</class>
                        <method>endMagentoProcessing</method>
                    </end_magento_processing>
                </observers>
            </controller_front_send_response_after>
        </events>
    </frontend>
    <default>
        <debug>
            <general>
                <enabled>0</enabled>
                <writer>file</writer>
            </general>
            <database>
                <profile_enabled>0</profile_enabled>
                <profile_connection>core_read</profile_connection>
                <profile_min_query_time>0.05</profile_min_query_time>
                <profile_callstack>0</profile_callstack>
            </database>
        </debug>
    </default>
</config>